In [102]:
import pandas as pd
moviedata=pd.read_csv('/Users/diwu/Desktop/Group Project/1.csv')

In [103]:
moviedata

,num,Title,Theaters,Country,Genre,Rated,Runtime,Open,Language,imdbRating,Actorinfluenceaverage,if_actorinfluence,googletrends,Average Gross for each movie,if_average_gross
0,0,Keanu,2681,1,4,1,100,29/04/2016,1,6.300000,55700.00000,1,642.0,NaN,0
1,1,Kedi,130,6,3,0,79,10/02/2017,29,7.800000,0.00000,0,999.0,NaN,0
2,2,Keep on Keepin' On,9,1,3,1,84,19/09/2014,1,7.700000,0.00000,0,209.0,NaN,0
3,3,Keep Quiet,3,2,3,1,90,17/02/2017,1,6.500000,0.00000,0,398.0,NaN,0
4,4,Keep the Lights On,10,1,1,0,101,07/09/2012,1,6.200000,0.00000,0,743.0,NaN,0
5,5,Keep Watching,805,1,8,1,89,31/10/2017,1,5.600000,40750.00000,1,775.0,NaN,0
6,6,The Keeping Room,10,1,1,1,95,25/09/2015,1,6.000000,21250.00000,1,1701.0,NaN,0
7,7,Keeping Up with the Joneses,3022,1,4,1,105,21/10/2016,5,5.800000,66833.33333,1,442.0,38400.0,1
8,8,Keith Lemon: The Film,682,2,2,1,85,24/08/2012,1,2.600000,0.00000,0,1066.0,NaN,0
9,9,Kelly & Cal,6,1,2,1,111,05/09/2014,1,6.200000,0.00000,0,342.0,NaN,0
10,10,Kevin Hart: Laugh at My Pain,287,1,3,1,89,09/09/2011,1,7.500000,61850.00000,1,316.0,NaN,0
11,11,Kevin Hart: Let Me Explain,892,1,3,1,75,03/07/2013,1,6.800000,69000.00000,1,526.0,NaN,0
12,12,Kevin Hart: What Now?,2567,1,3,1,96,14/10/2016,1,5.800000,72633.33333,1,0.0,NaN,0
13,13,Keyhole,7,5,1,1,94,06/04/2012,1,5.500000,0.00000,0,702.0,NaN,0
14,14,Khatta Meetha,83,4,4,1,157,23/07/2010,3,5.700000,0.00000,0,759.0,NaN,0
15,15,Khiladi 786,115,4,4,0,141,07/12/2012,3,4.400000,0.00000,0,996.0,NaN,0
16,16,Khodorkovsky,2,6,3,0,111,30/11/2011,13,7.000000,0.00000,0,612.0,NaN,0
17,17,Khoobsurat,61,4,2,1,130,19/09/2014,3,6.400000,0.00000,0,622.0,NaN,0
18,18,Khumba,2,6,7,0,85,06/12/2013,1,5.700000,0.00000,0,0.0,NaN,0
19,19,Khushiyaan,26,4,16,1,135,14/10/2011,31,6.900000,0.00000,0,0.0,NaN,0
20,20,Ki & Ka,148,4,2,1,126,01/04/2016,3,5.800000,0.00000,0,1194.0,NaN,0
21,21,Kick,180,4,4,0,146,25/07/2014,3,5.500000,0.00000,0,1268.0,NaN,0
22,22,Kick-Ass,3065,2,4,1,117,16/04/2010,1,7.700000,0.00000,0,909.0,77300.0,1
23,23,Kick-Ass 2,2945,1,4,1,103,16/08/2013,1,6.600000,43200.00000,1,1360.0,21200.0,1
24,24,Kickin' It Old Skool,1816,1,2,1,108,27/04/2007,1,4.600000,0.00000,0,1088.0,NaN,0
25,25,Kicking It,2,1,3,0,98,13/06/2008,1,7.400000,38600.00000,1,0.0,NaN,0
26,26,Kicks,65,1,9,1,80,09/09/2016,1,6.200000,0.00000,0,1124.0,NaN,0
27,27,Kid Cannabis,1,1,6,0,110,18/04/2014,1,6.400000,16100.00000,1,416.0,16600.0,1
28,28,The Kid with a Bike,86,6,1,1,84,16/03/2012,2,7.400000,0.00000,0,498.0,NaN,0
29,29,Kidnap,682,1,4,1,95,02/10/2008,1,5.900000,64000.00000,1,1042.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232,4232,The Sleeping Beauty,3,3,1,0,82,08/07/2011,2,5.700000,0.00000,0,NaN,NaN,0
4233,4233,Sleeping with Other People,392,1,2,1,101,11/09/2015,1,6.500000,49800.00000,1,NaN,634.0,1
4234,4234,Sleepless,1803,1,4,1,95,13/01/2017,1,5.600000,53700.00000,1,NaN,NaN,0
4235,4235,Sleepless Night,2,3,4,0,103,11/05/2012,2,6.700000,0.00000,0,NaN,NaN,0
4236,4236,Sleepwalk with Me,135,1,2,1,81,24/08/2012,1,6.800000,0.00000,0,NaN,NaN,0
4237,4237,Sleepwalking,69,5,1,1,101,14/03/2008,1,6.200000,40000.00000,1,NaN,NaN,0
4238,4238,Sleight,591,1,4,1,89,28/04/2017,1,5.900000,0.00000,0,NaN,NaN,0
4239,4239,Slenderman,682,1,11,1,25,18/05/2018,1,7.700000,0.00000,0,NaN,NaN,0
4240,4240,Slipstream,6,1,2,1,96,26/10/2007,1,5.100000,38800.00000,1,NaN,39.0,1
4241,4241,Slow Learners,6,1,2,0,96,19/08/2015,1,5.800000,0.00000,0,NaN,NaN,0
4242,4242,Slow West,54,2,18,1,84,20/05/2015,1,6.900000,51350.00000,1,NaN,NaN,0
4243,4243,Slumber,682,1,11,1,9,01/12/2017,1,6.350375,0.00000,0,NaN,NaN,0
4244,4244,Slumdog Millionaire,2943,2,1,1,120,12/11/2008,1,8.000000,55000.00000,1,NaN,25000.0,1
4245,4245,Lucha Mexico,25,6,3,1,103,15/07/2016,1,7.300000,0.00000,0,NaN,NaN,0
4246,4246,Luck by Chance,57,4,1,1,156,30/01/2009,3,7.100000,0.00000,0,NaN,NaN,0
4247,4247,Luck-Key,26,6,4,1,112,21/10/2016,7,6.900000,0.00000,0,NaN,NaN,0
4248,4248,The Lucky Man,682,1,4,1,98,21/12/2017,1,8.400000,0.00000,0,NaN,NaN,0
4249,4249,The Lucky One,3175,1,1,1,101,20/04/2012,1,6.500000,37700.00000,1,NaN,25600.0,1
4250,4250,The Lucky Ones,425,1,2,1,115,26/09/2008,1,7.000000,45550.00000,1,NaN,54100.0,1
4251,4251,Lucky Them,9,1,1,1,97,30/05/2014,1,6.100000,45150.00000,1,NaN,NaN,0
4252,4252,Lucky You,2525,1,1,1,124,04/05/2007,1,5.900000,62800.00000,1,NaN,37000.0,1
4253,4253,Lucy,3202,3,4,1,89,25/07/2014,1,6.400000,82350.00000,1,NaN,27300.0,1
4254,4254,Lullaby,682,1,1,1,117,13/06/2014,1,6.200000,46000.00000,1,NaN,NaN,0
4255,4255,The Lunchbox,165,4,1,1,104,28/02/2014,3,7.800000,152700.00000,1,NaN,NaN,0
4256,4256,The Lure,7,6,2,0,92,01/02/2017,21,6.300000,0.00000,0,NaN,NaN,0
4257,4257,"Lust, Caution",143,1,1,1,157,28/09/2007,5,7.600000,0.00000,0,NaN,42200.0,1
4258,4258,LUV,45,1,5,1,94,18/01/2013,1,6.000000,68000.00000,1,NaN,NaN,0
4259,4259,Luv Shuv Tey Chicken Khurana,60,4,2,0,140,02/11/2012,3,6.600000,0.00000,0,NaN,NaN,0
4260,4260,Lycan,5,1,8,1,87,18/08/2017,1,4.500000,0.00000,0,NaN,NaN,0
4261,4261,Lymelife,35,1,2,1,95,08/04/2009,1,7.000000,35100.00000,1,NaN,NaN,0

In [76]:
import datetime
moviedata['Open']=moviedata.Open.iloc[:].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))

In [77]:
date_2007= datetime.datetime(2007,1,1)
date_2007

datetime.datetime(2007, 1, 1, 0, 0)

In [96]:
import pickle
with open('googletrendss.txt', 'rb') as fp1:
            google=pickle.load(fp1)        
with open('googletrendss2.txt', 'rb') as fp2:
            google2=pickle.load(fp2)
with open('googletrends.txt', 'rb') as fp3:
            google22=pickle.load(fp3)
with open('googletrends 22.txt', 'rb') as fp4:
            google222=pickle.load(fp4)

In [97]:
google3=google+google2+google22+google222
len(google3)

4043

In [98]:
google_dic={}
for i in google3:
    if isinstance(i[1], int):
        google_dic[i[0]]=i[1]
    else:
        google_dic[i[0]]=i[1][0]

In [100]:
len(google_dic)

4037

In [107]:
result=[]
for i in moviedata["Title"]:
    if i in google_dic.keys():
        result.append(google_dic[i])
    else:
        result.append(None)

In [104]:
len(google_dic)

4037

In [105]:
len(moviedata["Title"])

4262

In [108]:
len(result)

4262

In [109]:
moviedata['googletrends']=pd.Series(result)

In [110]:
moviedata[moviedata['googletrends'].isnull()].to_csv('/Users/diwu/Desktop/Group Project/1.csv')

In [112]:
len(moviedata[moviedata['googletrends'].isnull()])

228

In [113]:
moviedata.to_csv('/Users/diwu/Desktop/Group Project/1.csv')